<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "employee" class="Entity.Employee"/>
    <bean id = "feedback" class="Entity.Feedback"/>
    <bean id = "project" class="Entity.Project"/>
    <bean id = "team" class="Entity.Team"/>
    <bean id = "employeeDAOImpl" class="DAO.EmployeeDAOImpl"/>
    <bean id = "feedbackDAOImpl" class="DAO.FeedbackDAOImpl"/>
    <bean id = "projectDAOImpl" class="DAO.ProjectDAOImpl"/>
    <bean id = "teamDAOImpl" class="DAO.TeamDAOImpl"/>
    <bean id = "employeeService" class="Service.EmployeeService"/>
    <bean id = "feedbackService" class="Service.FeedbackService"/>
    <bean id = "projectService" class="Service.ProjectService"/>
    <bean id = "teamService" class="Service.TeamService"/>
    <bean id = "hibernateUtil" class="HibernateUtil.HibernateSessionFactoryUtil" factory-method="getSessionFactory"/>


</beans>