<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "employee" class="Entity.Employee"/>
    <bean id = "feedback" class="Entity.Feedback"/>
    <bean id = "project" class="Entity.Project"/>
    <bean id = "team" class="Entity.Team"/>
    <bean id = "connectionPool" class="DataBaseConnection.ConnectionPool" factory-method="create"/>

</beans>